<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Index of {{path}}</title>
</head>

<body>
    <h1>Index of {{path}}</h1>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Name
                <th>
                <th>Type
                <th>
                <th>Size
                <th>
            </tr>
        </thead>
        <tbody>
            {% if not is_root %}
            <tr>
                <td><a href="{{parent}}">..</a>
                <td>
                <td>
                <td>
                <td>
                <td>
            </tr>
            {% endif %}
            {% for item in items %}
            <tr>
                <td><a href="{{ item.url }}">{{ item.name }}</a>
                <td>
                <td>{{ item.type }}
                <td>
                <td>{{ item.size or "-" }}
                <td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
